<h1>Usuários</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Adicionar Usuário</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Nome</th>
            <th style="width: 30%">Email</th>
            <th style="width: 30%">Permissão</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.nome}} {{usuario.sobrenome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.permissao}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{usuario.id}}" class="btn btn-sm btn-primary me-1">Editar</a>
                <button (click)="deletarUsuarios(usuario.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="usuario.isDeleting">
                    <span *ngIf="usuario.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!usuario.isDeleting">Excluir</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!usuarios">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>